button {
  height: 32px;
  padding: 0px 16px;
  background-color: #fff;
  line-height: 32px;
  border-radius: 4px;
  border: 1px solid #e5e5e5;
 
}

button:hover {
  color: #c20000;
  border-color:#c20000;
}